standby_mode = on
primary_conninfo = 'port={{ postgres_ha_pg_port }} host={{ postgres_ha_cluster_vip }} user={{ postgres_ha_pg_repl_user }} application_name={{ inventory_hostname }}'
recovery_target_timeline = 'latest'
